@charset "utf-8";

/*Configurações gerais da página*/
*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configurações do body e do html*/
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

/* Configurações somente do body */
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

/*Estilos do main*/
main{
    height: 100vh;
    position: relative;
}

/*Configurações do celular*/
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;
}

/*Configuração do iframe chamdo tela*/
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

/* Configuração para seção dos botões das redes sociais */

section#redes_sociais{
    text-align: right;
}
section#redes_sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0 ,0, 0.400);
    box-sizing: border-box;
}

/*Fazendo os botões se moverem*/
section#redes_sociais img:hover{
    border: 2px solid rgb(255, 255, 255, 0.600);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgb(0, 0 ,0, 0.600);
    transition: transform .3s, border 1s;
}

/* Configurações tela facebook */
iframe#facebook{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
    transform: translate(-1px, -480px);
}